.feature-list-category-header {
    padding: 0;
    margin-bottom: 1rem;
}

.feature-list-category-short {
    margin-bottom: 2rem;
    font-size: 1.125rem;
}

.feature-list-category-list {
    list-style: none;
    margin: 0 0 1rem 0;
    padding: 0;
}

.feature-list-category-list li {
    padding-left: 0;
}

.feature-list-category-list-entry {
    display: flex;
    margin-bottom: 0.75rem;
    border-radius: 10px;
    padding: 1rem 1rem;
    position: relative;
    background: #f8f8f8;
}

.feature-list-category-list-entry-icon {
    margin-right: 1.5rem;
    align-items: flex-start;
}

.feature-list-category-list-entry-icon .fa {
    padding: 0 10px 10px;
    font-size: 1.25rem;
}

.feature-list-category-list-entry-icon-content {
    flex-grow: 1;
}

.feature-list-category-list-entry-icon-content-header {
    padding-bottom: .4rem;
}

.feature-list-category-list-entry-icon-content-header h2 {
    font-size: 1rem;
    font-weight: normal;
}

.feature-list-category-list-entry-icon-content-content,
.feature-list-category-list-entry-icon-content-short {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin-bottom: 0.3rem;
}

.feature-list-category-list-entry-icon-content-content p,
.feature-list-category-list-entry-icon-content-short p {
    margin-bottom: 0.3rem;
}

.feature-list-category-list-entry-icon-content-content p:last-child,
.feature-list-category-list-entry-icon-content-short p:last-child {
    margin-bottom: 0;
}

.feature-list-category-list-toTop-container {
    text-align: right;
    margin: 1rem 0 3rem;
}

.feature-list-category-list-toTop {
    color: inherit;
}